@model BinaryStudio.TaskManager.Logic.Domain.Reminder

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности напоминания</h2>

<fieldset>
    <legend>Напоминание</legend>

    <div class="display-label">Сотрудник</div>
    <div class="display-field">@(Model.User == null ? "None" : Model.User.UserName)</div>

    <div class="display-label">Задача</div>
    <div class="display-field">@(Model.Task == null ? "None" : Model.Task.Name)</div>

    <div class="display-label">Дата напоминания</div>
    <div class="display-field">@String.Format("{0:g}", Model.ReminderDate)</div>

    <div class="display-label">Содержание</div>
    <div class="display-field">@Model.Content</div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Вернуться к предыдущему списку", "Index")
</p>


