@model IEnumerable<BinaryStudio.TaskManager.Logic.Domain.Reminder>

@{
    ViewBag.Title = "Index";
}

<h2 class="well-large">
    Список всех напоминаний
</h2>

<p>
    @Html.ActionLink("Создать новое напоминание", "Create", null, new {@class="btn"})
</p>
<table>
    <tr>
        <th>
            Сотрудник
        </th>
        <th>
            Задача
        </th>
        <th>
            Дата напоминания
        </th>
        <th>
            Содержание
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.User == null ? "None" : item.User.UserName)
        </td>
        <td>
            @(item.Task == null ? "None" : item.Task.Name)
        </td>
        <td>
            @String.Format("{0:g}", item.ReminderDate)
        </td>
        <td>
            @item.Content
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new {@class="btn"}) |
            @Html.ActionLink("Подробности", "Details", new { id = item.Id }, new { @class = "btn" }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn" })
        </td>
    </tr>
}

</table>


