@model IEnumerable<BinaryStudio.TaskManager.Logic.Domain.Reminder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Создание нового", "Create")
</p>
<table>
    <tr>
        <th>
            Сотрудние
        </th>
        <th>
            Задача
        </th>
        <th>
            Дата напоминания
        </th>
        <th>
            Содержание
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.Employee == null ? "None" : item.Employee.Name)
        </td>
        <td>
            @(item.Task == null ? "None" : item.Task.Name)
        </td>
        <td>
            @String.Format("{0:g}", item.ReminderDate)
        </td>
        <td>
            @item.Content
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>


