@model IEnumerable<BinaryStudio.TaskManager.Logic.Domain.Reminder>

@{
    ViewBag.Title = "Index";
}

<h2 class="well-large">
    All reminders
</h2>

<p>
    @Html.ActionLink("Create new reminder", "Create", null, new {@class="btn"})
</p>
<table>
    <tr>
        <th>
            Task
        </th>
        <th>
            Reminder date
        </th>
        <th>
            Description
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.Task == null ? "None" : item.Task.Name)
        </td>
        <td>
            @String.Format("{0:g}", item.ReminderDate)
        </td>
        <td>
            @item.Content
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new {@class="btn"}) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn" })
        </td>
    </tr>
}

</table>


