@model IList<BinaryStudio.TaskManager.Logic.Domain.Reminder>
           

@{
    ViewBag.Title = "Index";
}

<h2 class="well-large">
    My Reminders
</h2>

<p >
    @Html.ActionLink("Create new ", "Create", null, new {@class="btn"})
</p>

<div style="margin: auto; width: 80%">
    @for (int i=0;i<Model.Count; i++)
    {
        <div class="note">
            <div class="taskName">@if (Model[i].TaskId.HasValue)
                                  {
                                      @: @*<a href="@Url.Action("Details", "Project", new { id = reminder.TaskId, viewStyle =false})" style="color: #666; text-decoration: none;" >@reminder.Task.Name</a>*@ @Model[i].Task.Name
                                  } </div>
            <br/>
            @Model[i].Content
            <div style="position: relative; margin-top: 20px;" >To remind you? @Html.CheckBoxFor(model => model[i].IsSend)</div>
        </div>
    }
  </div>



@*
<table>
    <tr>
        <th>
            Задача
        </th>
        <th>
            Дата напоминания
        </th>
        <th>
            Содержание
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.Task == null ? "None" : item.Task.Name)
        </td>
        <td>
            @String.Format("{0:g}", item.ReminderDate)
        </td>
        <td>
            @item.Content
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new {@class="btn"}) |
            @Html.ActionLink("Подробности", "Details", new { id = item.Id }, new { @class = "btn" }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn" })
        </td>
    </tr>
}

</table>


*@