@model BinaryStudio.TaskManager.Web.Models.LandingModel

@{
    ViewBag.Title = "Landing";
}
<link href="@Url.Content("~/Content/Landing.css")" rel="stylesheet" type="text/css" /> 
<link href="@Url.Content("~/Content/jquery.fancybox.css")" rel="stylesheet" type="text/css" /> 

<script src="@Url.Content("~/Scripts/jquery.fancybox.pack.js")" type="text/javascript"></script>
    
<h2 class="well-large">
    Landing
</h2>
<div class="row">
    <div id="left_panel" class="span3">
        <div id="project_groups">
            <h3>Project Groups</h3>
        </div>
        <div id="projects">
            <div class="new_project_btn">Add Project</div>
            <h3>Projects</h3>
            <ul class="project_list">
                @foreach (var project in Model.Projects)
                {
                    <li data-id="@project.Id">
                        <a href="#delete_box" class="fancybox"><div class="delete_btn"></div></a>
                        <div class="project_name">@project.Name</div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div id="content" class="span6">
    </div>
    <div id="right_panel" class="span3">
    </div>
    <div id="delete_box">
        <span class="box_text">Are you sure, you wanna delete project</span>
        <br><br><button class="yes"><strong>yes</strong></button>
            <button class="no">no</button>
    </div>
     <div id='add_proj_box'>
         <input type="text" autofocus="autofocus"></input>
         <button class="add_proj_btn">Add Project</button>
         <span class="add_cancel">Cancel</span>
     </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".fancybox").fancybox({
            afterLoad: function () {
                $(".no").click(function () {
                    $.fancybox.close();
                });
            }
        });

        $(".new_project_btn").click(function () {
            if ($(".newBox").length == 0) {
                $(".project_list").prepend($("#add_proj_box").clone());
                $("#add_proj_box").addClass("newBox");
                $(".newBox").css("display", "block");
            }
            else {
                $(".newBox").children("input").focus();
            }
            $(".add_cancel").click(function () {
                $(".newBox").remove();
            });
            $(".add_proj_btn").click(function () {
                var val = $(".newBox").children("input").val();
                $(".newBox").remove();
                $.ajax({
                    data: { projectName: val },
                    dataType: "JSON",
                    type: "POST",
                    url: "/Landing/AddProject",
                    success: function (response) {
                        var list = $(".project_list");
                        list.html("");
                        for (var proj in response.Projects) {
                            list.append("\
                            <li data-id='" + proj.Id + "'> \
                                    <a href='#delete_box' class='fancybox'><div class='delete_btn'></div></a>\
                                    <div class='project_name'>" + proj.Name + "</div>\
                                </li>");
                        }

                    }
                });
            });
        });
    })
</script>
