@model BinaryStudio.TaskManager.Web.Models.LandingIndexModel

@{
    ViewBag.Title = "Landing";
}
<link href="@Url.Content("~/Content/Landing.css")" rel="stylesheet" type="text/css" /> 
<link href="@Url.Content("~/Content/jquery.fancybox.css")" rel="stylesheet" type="text/css" /> 

<script src="@Url.Content("~/Scripts/jquery.fancybox.pack.js")" type="text/javascript"></script>
    
<h2 class="well-large">
    Landing
</h2>
<div class="row">
    <div id="left_panel" class="span3">
        <div id="project_groups">
            <h3>Project Groups</h3>
        </div>
        <div id="projects">
            <div class="new_project_btn">Add Project</div>
            <h3>Projects</h3>
            <ul class="project_list">
                @foreach (var project in Model.Projects)
                {
                    <li data-id="@project.Id">
                        <a href="#" class="delete_link"><div class="delete_btn"></div></a>
                        <div class="project_name">@project.Name</div>
                       <a href="/HumanTasks/AllManagersWithTasks"><div class="dashboard_btn"></div></a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div id="content" class="span6">
    </div>
    <div id="right_panel" class="span3">
    </div>
    <div class="modal hide" id="delete_box">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Delete Project</h3>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <a href="#" class="btn no" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary yes" data-dismiss="modal">Delete</a>
          </div>
    </div>
     <div id='add_proj_box'>
         <input type="text" autofocus="autofocus"></input>
         <button class="add_proj_btn">Add Project</button>
         <span class="add_cancel">Cancel</span>
     </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#delete_box").on('hidden', function () {
            $(".yes").off();
        });

        $(".project_name").each(function () {
            var text = $(this).html();
            if (text.length > 20) {
                $(this).attr("title", text);
                $(this).html(text.substr(0, 20) + "...");
            }
        });
        if ($(".project_name").length == 0)
            $(".project_list").html("<li>There are no projects yet</li>");
        $(document).on("click", ".delete_link", function () {
            var proj = $(this).parent("li").attr("data-id");
            $(".modal-body").html("<p>Are you sure, that you want to delete project</p>\
            <span> <b>" + $(this).parent("li").children(".project_name").html() + "</b>?</span>");
            $("#delete_box").modal('show');
            $(".yes").on("click", function () {
                deleteProjectQuery(proj);
                $(".yes").off();
            });
            $(window).on("keydown", function (e) {
                var code = null;
                code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13) {
                    deleteProjectQuery(proj);
                    $("#delete_box").modal('hide');
                }
                $(window).off("keydown");
            });
        });
        $(".new_project_btn").click(function () {
            if ($(".newBox").length == 0) {
                $(".project_list").prepend($("#add_proj_box").clone());
                $("#add_proj_box").addClass("newBox");
                $(".newBox").css("display", "block");
            } else {
                $(".newBox").children("input").focus();
            }
            $(".add_cancel").click(function () {
                $(".newBox").remove();
            });
            $(".add_proj_btn").click(function () {
                sendNewProject();
            });
            $(".newBox").children("input").keyup(function (e) {
                var code = null;
                code = (e.keyCode ? e.keyCode : e.which);
                if (code == 27) {
                    $(".newBox").remove();
                } else if (code == 13) {
                    sendNewProject();
                }
            });
        });
    });
    
    function sendNewProject() {
        var val = $(".newBox").children("input").val();
        $(".newBox").remove();
        $.ajax({
            data: { projectName: val },
            dataType: "JSON",
            type: "POST",
            url: "/Landing/AddProject",
            success: function (response) {
                listProjects(response);
            }
        });
    }
    

    function deleteProjectQuery(proj) {
        $.ajax({
            data: { projectId: proj },
            dataType: 'JSON',
            type: 'POST',
            url: '/Landing/DeleteProject',
            success: function (response) {
                listProjects(response);
            }
        });
    }
    
    function listProjects(response) {
        var list = $(".project_list");
        list.html("");
        var name = null;
        for (var i = 0; i < response.Projects.length; i++) {
            if (response.Projects[i].Name.length < 20)
                name = response.Projects[i].Name;
            else
                name = response.Projects[i].Name.substr(0, 20) + '...';
            list.append("\
                                <li data-id='" + response.Projects[i].Id + "'> \
                                <a href='#delete_box' class='delete_link'><div class='delete_btn'></div></a>\
                                <div class='project_name'>" + name + "</div>\
                       <a href='/HumanTasks/AllManagersWithTasks'><div class='dashboard_btn'></div></a></li>");
            if (response.Projects[i].Name.length >= 20)
                $("li[data-id=" + response.Projects[i].Id + "]").attr("title", response.Projects[i].Name);
        }
        if (i == 0) {
            $(".project_list").html("<li>There are no projects yet</li>");
        }
    }
</script>
