@using BinaryStudio.TaskManager.Web.Helpers
@using BinaryStudio.TaskManager.Logic.Domain
@model BinaryStudio.TaskManager.Web.Models.LandingProjectListModel

@{
    ViewBag.Title = "Task Manager";
}
<link href="@Url.Content("~/Content/Landing.css")" rel="stylesheet" type="text/css" /> 

<script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TaskModel.js")" type="text/javascript"></script>

<script type="text/javascript">
    var user;
    $(document).ready(function () {
        user = "+ @User.Identity.Name +";
    });
    var modelData = new TaskModel();
    var model = @Html.Raw(Json.Encode(Model.CreatorProjects));
    for (var i=0; i<model.length; i++)
    {
        var project = Object({
            Id : model[i].Id,
            Name : model[i].Name,
            Creator : null,
            CreatedByYou : true
        });
        modelData.projects().push(project);
    }
    model = @Html.Raw(Json.Encode(Model.UserProjects));
    for (i=0; i<model.length; i++)
    {
        project = Object({
            Id : model[i].Id,
            Name : model[i].Name,
            Creator : model[i].Creator,
            CreatedByYou : false
        });
        modelData.projects().push(project);
    }
</script>

<script src="@Url.Content("~/Scripts/landing.js")" type="text/javascript"></script>
<div class="row main-row">
    <div id="left_panel">
        <span class="keyboard">Keyboard shortcuts available</span>
        Filter: <input id="filterByName" placeholder="Tasks By Name or Description" name="ProjectHumanTask" type="text" value="" data-bind="event: { 'keyup': filterTasksByName}" />
        <div id="task_groups">
            <h3>Task Groups</h3>
            <div class="task_group_list">
                <div class="project_name" id="all_tasks" data-bind="css:{'active_proj': Active() =='all'}">All</div>
                <div class="project_name" id="my_tasks" data-bind="css:{'active_proj': Active()=='my'}">My Tasks</div>
                <div class="project_name" id="unassigned_tasks" data-bind="css:{'active_proj': Active()=='un'}">Unassigned</div>
            </div>
        </div>
        <div id="projects">
            <div class="projects_top"> 
                <div class="new_project_btn">Add Project</div>
                <h3>Projects</h3>
            </div>
            <div class="no_projects" data-bind="visible: projects().length==0">No projects yet</div>
            <div class="project_list" data-bind="foreach: projects">
                <div class="proj_row" data-bind="attr: {'data-id':Id}">
                     <!-- ko if: CreatedByYou -->
                    <div class="delete_btn"></div>
                    <div class="project_name" data-bind="text: Name, 'css': { 'user_projs':  CreatedByYou == false,  
                    'created_projs': CreatedByYou == true, 'active_proj': Id == $parent.Active()}"></div>
                    <!-- /ko -->
                     <!-- ko if: CreatedByYou==false -->
                    <div class="project_name" data-bind="html: '<b>'+Creator+'</b> | '+Name, 'css': { 'user_projs':  CreatedByYou == false,  
                    'created_projs': CreatedByYou == true, 'active_proj': Id == $parent.Active()}"></div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
    <div class="span1">&nbsp;</div>
    <div id="content" class="span8">
        <h2 data-bind="{visible: Active() != -1, 'text': project,'attr':{'data-id':projectId}}"></h2>
        <div class="btn-group sort_btn" data-bind="visible: tasks().length!=0">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                Sort
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href='#' data-bind='click: $root.sortByPriority'>Priority</a></li>
                <li><a href='#' data-bind='click: $root.sortByName'>Name</a></li>
                <li><a href='#' data-bind='click: $root.sortByAssignee'>Assignee</a></li>
                <li><a href='#' data-bind='click: $root.sortByDate'>Creation Date</a></li>
                <li><a href='#' data-bind='click: $root.sortByFinishDate'>Finish Date</a></li>
            </ul>
        </div>
        <a class="btn btn-primary assignee_btn" href="#" data-bind="visible: tasks().length!=0">
            Assignee
            <span class="caret"></span>
        </a>
        <a href="#" class="all_tasks" data-bind="click: allTasks">&larr; All Tasks</a>
        <h3><span></span>'s Tasks</h3>
        <div data-bind="visible: tasks().length==0">No tasks yet</div>
        <div class="task_list" data-bind="foreach: tasksToShow">
            <div class="task_in_list" data-bind="attr: {'data-id':Id}">
                <div data-bind="if: AssigneePhoto==true&&AssigneeId!=null" class="assignee_photo">
                    <a href="#"class="img_holder" data-bind="'css': { 'appointive':  $parent.isProject() }">
                        <img data-bind="attr: {'src': '/Project/GetImage?UserId='+AssigneeId}" />
                    </a>
                </div>    
                <div data-bind="if: AssigneePhoto==false&&AssigneeId!=null" class="assignee_photo">
                    <a href="#" class="img_holder" data-bind="'css': { 'appointive':  $parent.isProject() }">
                        <img src="/Content/images/photo.png" />
                    </a>
                </div>   
                <div data-bind="if: AssigneeId==null" class="assignee_photo">
                    <a href="#" class="img_holder" data-bind="'css': { 'appointive':  $parent.isProject() }"></a>
                </div>     
                <span class="assignee_name" data-bind="{'if':'AssigneeId!=null','text':Assignee, 'click':$parent.filterByAssignee}"></span>
                <div data-bind="attr: {'class': 'priority prior_'+Priority}"></div>
                <a data-bind="text:Name, attr: { 'data-content': '<b>Created:</b> '+CreatedDate+'<br>'+CreatedTime+'<br><b>By</b> '+Creator+ (FinishDate!=null?'<br><b>Finish Date:</b> '+FinishRealDate:''),'data-original-title':Name, 'href':'/Project/Details/'+Id}" rel="popover" class="task_popover"></a>
                <div data-bind="text: Description"></div>
            </div>
        </div>
        <div id="add_task_box">
            <input class="new_task_name" placeholder="Task Name" type="text" value=""/>
            <button class="add_task_btn btn btn-success">Add Task</button>
            <span class="add_task_cancel">Cancel</span>
            <div class="add_task_assignee">
                <div class="add_task_assignee_photo"></div>
                <div class="add_task_assignee_name"><span>No one</span> is assigned</div>
            </div>
            <div class="priority_block">
                <div class="btn-group priority_buttons" data-toggle="buttons-radio">
                    <button class="btn prior_0 active" value="0" data-prior="Low">&nbsp;</button>
                    <button class="btn prior_1" value="1" data-prior="Mid">&nbsp;</button>
                    <button class="btn prior_2" value="2" data-prior="High">&nbsp;</button>
                    <button class="btn prior_3" value="3" data-prior="Block">&nbsp;</button>
                </div>
                <span class="prior_name">Low</span>
            </div>
            <div class="finish_date">
                <input type="text" class="new_task_date" placeholder="Finish Date"/>
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
        </div>
        <div class="new_task_btn" data-bind="visible: projects().length != 0">Add Task</div>
    </div>
    <div id="right_panel" class="span3">
    </div>
    <div class="user_list_holder">
        <div class="user_list_header">
            <div><span class="user_list_title">Assign someone to this task</span><span class="user_list_close">x</span></div>
            <input type="text" class="user_list_input" placeholder="Assignee Name" data-bind="event: { 'keyup': filterUsersByName}"/>
        </div>
        <div>
            <div class="user_list_clear">Clear assignee</div>
            <ul class="user_list" data-bind="foreach: usersToShow">
                <li data-bind="attr:{'data-id': Id}"><img data-bind="attr: {'src': Photo}" /><span data-bind="text: Name"></span></li>
            </ul>
        </div>
    </div>
    <div class="modal hide" id="delete_box">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Delete Project</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn no" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary yes" data-dismiss="modal">Delete</a>
        </div>
    </div>
    <div class="modal hide" id="shortcuts_window">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Shortcuts</h3>
        </div>
        <div class="shortcuts_list">
            <ul>
                <li><span>a</span> sort by <b>a</b>ssignee</li>
                <li><span>c</span> sort by <b>c</b>reation date</li>
                <li><span>d</span> to project's <b>d</b>ashboard</li>
                <li><span>f</span> <b>f</b>ilter tasks</li>
                <li><span>k</span> show these <b>k</b>eyboard shortcuts</li>
                <li><span>m</span> show <b>m</b>y tasks</li>
                <li><span>n</span> sort by <b>n</b>ame</li>
                <li><span>p</span> sort by <b>p</b>riority</li>
                <li><span>Enter</span> or <span>t</span> new <b>t</b>ask</li>
                <li><span>s</span> show/hide <b>s</b>ort menu</li>
                <li><span>u</span> show <b>u</b>nassigned tasks</li>
            </ul>
        </div>
    </div>
    <div id='add_proj_box'>
        <input type="text" autofocus="autofocus" placeholder="Project Name"></input>
        <button class="add_proj_btn btn btn-success">Add Project</button>
        <span class="add_cancel">Cancel</span>
    </div>
</div>