@model IList<BinaryStudio.TaskManager.Web.Models.SingleTaskViewModel>   

@{
    ViewBag.Title = "Все задачи";
}
<h2>
    Список всех задач
</h2>
<p>
    @Html.ActionLink("Создать новую задачу", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th>
            Приоритет
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Дата назначения
        </th>
        <th>
            Дата окончания
        </th>
        <th>
            Дата закрытия
        </th>
        <th>
            Имя создавшего
        </th>
        <th>
            Имя исполнителя
        </th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
        <td>
            @item.HumanTask.Name
        </td>
        <td>
            @item.HumanTask.Description
        </td>
        <td>
            @item.HumanTask.Priority
        </td>
        <td>
            @String.Format("{0:g}", item.HumanTask.Created)
        </td>
        <td>
            @String.Format("{0:g}", item.HumanTask.Assigned)
        </td>
        <td>
            @String.Format("{0:g}", item.HumanTask.Finished)
        </td>
        <td>
            @String.Format("{0:g}", item.HumanTask.Closed)
        </td>
        <td>
            @item.CreatorName
        </td>
        <td>
            @item.AssigneeName
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.HumanTask.Id })<br/>
            @Html.ActionLink("Подробности", "Details", new { id = item.HumanTask.Id })<br/>
            @Html.ActionLink("Удалить", "Delete", new { id = item.HumanTask.Id })
        </td>
    </tr>
    }

</table>
