@using BinaryStudio.TaskManager.Logic.Domain
@model IEnumerable<HumanTask>
@helper GetValue(HumanTask item)
    {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.Priority
        </td>
        <td>
            @String.Format("{0:g}", item.Created)
        </td>
        <td>
            @String.Format("{0:g}", item.Assigned)
        </td>
        <td>
            @String.Format("{0:g}", item.Finished)
        </td>
        <td>
            @String.Format("{0:g}", item.Closed)
        </td>
        <td>
            @item.CreatorId
        </td>
        <td>
            @item.AssigneeId
        </td>
        <td>
            @this.Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @this.Html.ActionLink("Детали", "Details", new { id = item.Id }) |
            @this.Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}
@{
    ViewBag.Title = "Все задачи";
}
<h2>
    Список всех задач
</h2>
<p>
    @Html.ActionLink("Создать новую задачу", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th>
            Приоритет
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Дата назначения
        </th>
        <th>
            Дата окончания
        </th>
        <th>
            Дата закрытия
        </th>
        <th>
            Id создавшего
        </th>
        <th>
            Id ответственного
        </th>
    </tr>
    @foreach (var item in Model)
    {
        @this.GetValue(item)
    }
</table>
