@using BinaryStudio.TaskManager.Web.Models
@model SingleTaskViewModel
@{
    ViewBag.Title = "Редактировать";
}
<h2 class="well-large">
    Edit task
</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit task </legend>
        @Html.HiddenFor(model => model.HumanTask.Id)
        @Html.HiddenFor(model => model.HumanTask.Created)
        @Html.HiddenFor(model => model.HumanTask.Assigned)
        @Html.HiddenFor(model => model.HumanTask.CreatorId)
        @Html.HiddenFor(model => model.HumanTask.AssigneeId)
        <div class="editor-label">
            @Html.LabelFor(model => model.HumanTask.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HumanTask.Name)
            @Html.ValidationMessageFor(model => model.HumanTask.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.HumanTask.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HumanTask.Description)
            @Html.ValidationMessageFor(model => model.HumanTask.Description)
        </div>
   
        <div class="editor-label">
            Priority
        </div>

    <div class="editor-field">
        @Html.DropDownListFor(model => model.HumanTask.Priority, Model.Priorities)
        @Html.ValidationMessageFor(model => model.HumanTask.Priority)
    </div>
        
        
        

   
        <div class="editor-label">
                @Html.LabelFor(model => model.HumanTask.Finished)
            </div>
        
    <div class="editor-field">
            <input class="text-box single-line" id="HumanTask_Finished" name="HumanTask_Finished" type="text" value='@(Model.HumanTask.Finished != null ? Model.HumanTask.Finished.Value.ToShortDateString().Replace('.', '-') : "06-09-2011")' />

        @*Html.EditorFor(model => model.Finished)*@
                
            @Html.ValidationMessageFor(model => model.HumanTask.Finished)
        
    </div>
       
       
        <p>
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back in all tasks view", "AllTasks", null, new { @class = "btn" })
    <span class="divider-vertical"></span>
    @Html.ActionLink("Back in  Dashboard", "AllManagersWithTasks", null, new { @class = "btn" })
</div>

<script type="text/javascript">
    $(document).ready(function () {


        $('#HumanTask_Finished').datepicker({
            format: 'dd-mm-yyyy'
        });
        $('#Closed').datepicker({
            format: 'dd-mm-yyyy'
        });
         

    });
</script>
