@using BinaryStudio.TaskManager.Logic.Domain
@model IList<BinaryStudio.TaskManager.Web.Models.TaskViewModel>

@helper GetValue(HumanTask item, string creatorName)
{
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.Priority
        </td>
        <td>
            @String.Format("{0:g}", item.Created)
        </td>
        <td>
            @String.Format("{0:g}", item.Finished)
        </td>
        <td>
            @String.Format("{0:g}", item.Closed)
        </td>
        <td>
            @creatorName
        </td>
        <td>
            @this.Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @this.Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
            @this.Html.ActionLink("Удаить", "Delete", new { id = item.Id })
        </td>
    </tr>
}



<h2> @ViewBag.ManagerName, Ваши задачи</h2>

<p>
    @Html.ActionLink("Создать новую задачу", "Create",new{managerId =(int) ViewBag.ManagerId})
</p>
<table>
    <tr>
        <th>
            Имя
        </th>
        <th>
            Описание
        </th>
        <th>
            Приоритет
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Дата окончания
        </th>
        <th>
            Дата закрытия
        </th>
        <th>
            Создатель задачи
        </th>
    </tr>

@foreach (var item in Model)
    {
        this.GetValue(item.Task,item.CreatorName);
            @this.GetValue(item.Task,item.CreatorName)
    }

</table>
