@model List<BinaryStudio.TaskManager.Web.Models.InvitationsViewModel>       
@{
    ViewBag.Title = "Your invitations";    
}
<div class="well-large">
    Invitations
</div>
@{
    if (Model.Count == 0)
    {
    <div>
        There are no new invitations!
    </div>
    }
    else
    {
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div>
                    @item.Sender.UserName invite you to project @Html.ActionLink(@item.Project.Name, "Project", "Project", new { id = @item.Project.Id }, null)
                </div>
                <div>
                    @Html.ActionLink("Agree", "SubmitInvitationInProject", "Project", new { invitationId = item.Invitation.Id }, new { @class = "btn btn-primary" })
                    <span class="divider-vertical"></span>
                    @Html.ActionLink("No, thanks!", "RefuseFromParticipateProject", "Project", new { invitationId = item.Invitation.Id }, new { @class = "btn" })
                </div>
                <div class="divider">
                </div>
            </li>
        }
    </ul>
    }
}
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
