<<<<<<< HEAD
﻿@model List<BinaryStudio.TaskManager.Web.Models.InvitationsViewModel>       
@{
    ViewBag.Title = "Your invitations";    
}

<script type="text/javascript">
    $(document).ready(function () {
        var onError = function () {
            alert("Error while AJAX request");
        };

        $(".submitInvitation").click(function () {
            var self = this;
            var onSuccess = function () {
                $(self).parents(".invitation").animate({ opacity: "hide" }, "slow");
            };

            var id = $(this).attr('id');
            $.ajax({
                type: "POST",
                url: "/Project/SubmitInvitationInProject/",
                data: { invitationId: id },
                dataType: "json",
                traditional: true
            }).success(onSuccess).error(onError);
        });

        $(".refuseInvitation").click(function () {
            var self = this;
            var onSuccess = function () {
                $(self).parents(".invitation").animate({ opacity: "hide" }, "slow");
            };

            var id = $(this).attr('id');
            $.ajax({
                type: "POST",
                url: "/Project/RefuseFromParticipateProject/",
                data: { invitationId: id },
                dataType: "json",
                traditional: true
            }).success(onSuccess("You refuse")).error(onError);
        });
    });
</script>


<div class="well-large">
    Invitations
</div>
@{
    if (Model.Count == 0)
    {
    <div>
        There are no new invitations!
    </div>
    }
    else
    {
    <ul>
        @foreach (var item in Model)
        {
            <div class="well invitation">
                <div>
                    @item.Sender.UserName invite you to project @Html.ActionLink(@item.Project.Name, "Project", "Project", new { id = @item.Project.Id }, null)
                </div>
                <div>
                    <button class="submitInvitation btn btn-primary" id=@item.Invitation.Id>
                        Agree
                    </button>
                    <span class="divider-vertical"></span>
                    <button class="refuseInvitation btn" id=@item.Invitation.Id>
                        No, thanks!
                    </button>
                </div>
                <div class="divider">
                </div>
            </div>
        }
    </ul>
    }
}
@Html.ActionLink("Back to profile", "Profile", "Profile", null, new {@class="btn"})


=======
﻿@model List<BinaryStudio.TaskManager.Web.Models.InvitationsViewModel>       
@{
    ViewBag.Title = "Your invitations";    
}

<script type="text/javascript">
    $(document).ready(function () {
        var onError = function () {
            alert("Error while AJAX request");
        };

        $(".submitInvitation").click(function () {
            var self = this;
            var onSuccess = function () {
                $(self).parents(".invitation").animate({ opacity: "hide" }, "slow");
            };

            var id = $(this).attr('id');
            $.ajax({
                type: "POST",
                url: "/Project/SubmitInvitationInProject/",
                data: { invitationId: id },
                dataType: "json",
                traditional: true
            }).success(onSuccess).error(onError);
        });

        $(".refuseInvitation").click(function () {
            var self = this;
            var onSuccess = function () {
                $(self).parents(".invitation").animate({ opacity: "hide" }, "slow");
            };

            var id = $(this).attr('id');
            $.ajax({
                type: "POST",
                url: "/Project/RefuseFromParticipateProject/",
                data: { invitationId: id },
                dataType: "json",
                traditional: true
            }).success(onSuccess("You refuse")).error(onError);
        });
    });
</script>


<div class="well-large">
    Invitations
</div>
@{
    if (Model.Count == 0)
    {
    <div>
        There are no new invitations!
    </div>
    }
    else
    {
    <ul>
        @foreach (var item in Model)
        {
            <div class="well invitation">
                <div>
                    @item.Sender.UserName invite you to project @Html.ActionLink(@item.Project.Name, "Project", "Project", new { id = @item.Project.Id }, null)
                </div>
                <div>
                    <button class="submitInvitation btn btn-primary" id=@item.Invitation.Id>
                        Agree
                    </button>
                    <span class="divider-vertical"></span>
                    <button class="refuseInvitation btn" id=@item.Invitation.Id>
                        No, thanks!
                    </button>
                </div>
                <div class="divider">
                </div>
            </div>
        }
    </ul>
    }
}
@Html.ActionLink("Back to profile", "Profile", "Profile", null, new {@class="btn"})


>>>>>>> 3be595d6356143f594f5df5382171d010d012ba6
