@model IEnumerable<BinaryStudio.TaskManager.Logic.Domain.User>
@{
    ViewBag.Title = "All users list";
}
<h2>
    All users list
</h2>

<table>
    <tr>
        <th>
        </th>
        <th>
            User name
        </th>
        <th>
        </th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @if(@user.ImageData == null)
                {
                    @:None
                }
                else
                {
                    <img width="80" height="80" src="@Url.Action("GetImage", "Project", new {UserId = user.Id})" />
                }
            </td>
            <td>
                @user.UserName
            </td>
            <td>
                @Html.ActionLink("Ivite", "AddUser", new { UserId = user.Id, ProjectId = 1 }, new { @class = "btn" }) 
                @Html.ActionLink("Delete", "DeleteUser", new { UserId = user.Id, ProjectId = 1 }, new { @class = "btn" }) 
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to tasks list", "PersonalProject")
</p>
