@model BinaryStudio.TaskManager.Web.Models.TaskViewModel
<link href="../../Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
@* This partial view draw a task block in table *@
@{ string divClass = "pr" + Model.Task.Priority.ToString();
   string[] pClass = { "priorityLow", "priorityMiddle", "priorityHigh", "blocking" };
    <div class ="task"  id = @Model.Task.Id.ToString() style="position: relative;">
        <p class= "@pClass[@Model.Task.Priority].ToString()" style="text-overflow: clip; border-radius: 13px 13px 0px 0px; font-size: 10pt; margin-top: 0.5px ;margin-bottom: 4px; height: 20px; padding-top: 5px;">
        <a href="@Url.Action("Edit", "Project", new { taskId = @Model.Task.Id, projectId = @Model.Task.ProjectId, viewStyle = @Model.ViewStyle })" class = "openDialog" data_dialog_id = "aboutDialog" data_dialog_title = "Edit task">
                <i class= "icon-edit" style="position: absolute; left: 15px;" title="edit task"></i>
            </a>
            @Model.TaskName
            <a href="@Url.Action("Delete", "Project", new { idTask = @Model.Task.Id, projectId = @Model.Task.ProjectId, viewStyle = @Model.ViewStyle })" class = "openDialog" data_dialog_id = "aboutDialog" data_dialog_title = "Delete task" >
                <i class= "icon-remove" style="position: absolute; right: 15px" title="delete task"></i>
            </a>
        </p>
        <div style="overflow: hidden; margin: 5px">
            @Model.Task.Description
        </div>
        <br />
    <div>
            <a href="@Url.Action("Details", "Project", new { id = @Model.Task.Id, viewStyle = @Model.ViewStyle })" class = "openDialog" data_dialog_id = "aboutDialog" data_dialog_title = "Task details"  style="position: absolute; bottom:0px; left: 15px; font-size: 9pt;" >
                <img height="20" width="20" style="padding-bottom: 4px;" src=@Url.Content("~/Content/images/details.png")/>
                details 
            </a>
            @if (Model.Task.AssigneeId.HasValue)
            {
                if (Model.Task.Closed == (DateTime?)null)
                {
                    <a  class="done" id="@Model.Task.Id" style="position: absolute; bottom: 0px; left: 110px; font-size: 9pt; cursor: pointer;" >
                        <img height="18" width="18" style="padding-bottom: 4px;" src=@Url.Content("~/Content/images/done.png")/>
                        done </a>
                }
                else
                {
                    <p style="position: absolute; bottom: 0px; left: 90px; font-size: 9pt; margin: 0 0 7px;">
                        closed:@Model.Task.Closed.Value.ToShortDateString()
                    </p>
                }
            }
        </div>
    </div>
}

<div class="modal hide" id="deleteTask">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Delete task</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <h3 align="center">
            Are you sure you want to delete this task?<br/>
            <button class="yes btn btn-success" data-id="TaskId" data-projectid="ProjectId" data-style="ViewStyle" >
                Yes
            </button>
            <span class="divider-vertical"></span>
            <button class="btn btn-danger" data-dismiss="modal">
                No, thanks
            </button>
        </h3>
    </div>
</div>

<div class="modal hide" id="detailsTask">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Task details</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">
            Back to project
        </button>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {

            $(".openDeleteTask").click(function() {
                var onSuccess = function() {
                    $('#deleteTask').modal('show');
                };
                var taskId = $(this).data('id');
                $(".yes").data("TaskId", taskId);
                var projectId = $(this).data('projectid');
                $(".yes").data("ProjectId", projectId);
                var viewStyle = $(this).data('style');
                $(".yes").data("ViewStyle", viewStyle);
                $(".modal-body").load(
                    "/Project/Delete/" + taskId,
                    { idTask: taskId },
                    onSuccess
                );
            });

            $(".openDetailsTask").click(function () {
                var onSuccess = function () {
                    $('#detailsTask').modal('show');
                };
                var taskId = $(this).data('id');
                $(".modal-body").load(
                    "/Project/Details/" + taskId,
                    { idTask: taskId },
                    onSuccess
                );
            });

            $(".yes").click(function () {
                var onError = function () {
                    alert("Error while AJAX request");
                };
                var onSuccess = function () {
                    $(this).parents(".project/project");
//                    $('#deleteTask').modal('close');
                };
                var id = $(this).data("TaskId");
                var projId = $(this).data("ProjectId");
                var style = $(this).data("ViewStyle");
                $.ajax({
                    type: "POST",
                    url: "/Project/DeleteConfirmed/",
                    data: { idTask: id, projectId: projId, viewStyle: style},
                    dataType: "json",
                    traditional: true
                }).success(onSuccess).error(onError);
            });
        });
</script>