@model BinaryStudio.TaskManager.Web.Models.ProjectViewModel
<script type="text/javascript">
    $(document).ready(function () {
        var senderId, taskId, receiverId;

        $(".sortableTasks").sortable({
            start: function (event, ui) {
                senderId = $(this).closest(".managerTasks").attr("id");
            },
            receive: function (event, ui) {
                receiverId = $(this).closest(".managerTasks").attr("id");
                taskId = $(ui.item).attr("id");

                var stringArray = new Array();
                stringArray[0] = taskId;
                //check, mb sender or receiver are unassigned 
                stringArray[1] = (typeof senderId == "undefined") ? -1 : senderId;
                stringArray[2] = (typeof receiverId == "undefined") ? -1 : receiverId;

                $.ajax({
                    type: "POST",
                    url: "/Project/MoveTask",
                    data: { taskId: stringArray[0], senderId: stringArray[1], receiverId: stringArray[2] },
                    dataType: "json",
                    traditional: true
                });
            },
            connectWith: $(".sortableTasks"),
            placeholder: "placeholderTask",
            cursor: 'move'
        });
        $(".sortableTasks").disableSelection();
    });
</script>
<!-- Caption of the table "Managers-Tasks"-->
<p align="center">
    <b>All Tasks in My Personal Project </b>
</p>

<table align="left">
    @if (Model.UsersTasks.Count == 0)
    {
        <p>
            There is no any manager!
        </p>
    }
    else
    {
        <!-- Header of the table (Managers names)-->
        <tr>
            <td align="center" width="250">
                Actions
            </td>
            <td align="center" width="250">
                <div class="manager">
                    Unassigned Tasks
                </div>
            </td>
            @foreach (var user in Model.UsersTasks)
                {
                    <td align="center" width="250">
                        <div>
                            @Html.ActionLink(user.User.UserName, null, new { managerId = user.User.Id }, new { @class = "btn btn-info" })
                        </div>
                    </td>
                }
        </tr>
    }
    <td align="center" valign="top" width="250">
        <div>
            @Html.ActionLink("Create a new task", "CreateTask", new { userId = -1 }, new { @class = "btn" })
        </div>
        <div class="editor-field">
                 @Html.ActionLink("Invite a new user", "InviteUser", null, new { @class = "btn" })
        </div>
        
    </td>  
    <!-- Create a column with tasks-->
    <td align="center" valign="top" width="250">
        @foreach (var unAssignedTask in Model.UnAssignedTasks)
        {
            <div class="sortableTasks">
                @Html.Partial("ManagerTasksTablePartialView", unAssignedTask)
            </div>
        }
        <div class="sortableTasks" style="height: 300px">
        </div>
    </td>
    @foreach (var userTask in Model.UsersTasks)
    {        
        <td id=@userTask.User.Id.ToString() align = "center" valign="top" width="250" class="managerTasks">
            @foreach (var task in userTask.Tasks.OrderByDescending(x => x.Priority))
            {
                <div class="sortableTasks">
                    @Html.Partial("ManagerTasksTablePartialView", task)
                </div>
            }
            <div class="sortableTasks" style="height: 300px">
            </div>
        </td>
    }
</table>