@model BinaryStudio.TaskManager.Web.Models.SingleTaskViewModel

<fieldset>
    <legend>Task details</legend>
    <table cellspacing="0" border="0">
        <tr>
            <td>
                <div class="display-label">
                    Name
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.HumanTask.Name
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Description
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.HumanTask.Description
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Priority
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.HumanTask.Priority
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Created
                </div>
            </td>
            <td>
                <div class="display-field">
                    @String.Format("{0:g}", Model.HumanTask.Created)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Date of assigning an employee
                </div>
            </td>
            <td>
                <div class="display-field">
                    @String.Format("{0:g}", Model.HumanTask.Assigned)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Finished
                </div>
            </td>
            <td>
                <div class="display-field">
                    @String.Format("{0:g}", Model.HumanTask.Finished)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Closed
                </div>
            </td>
            <td>
                <div class="display-field">
                    @String.Format("{0:g}", Model.HumanTask.Closed)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Creator name
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.CreatorName
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Assignee name
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.AssigneeName
                </div>
            </td>
        </tr>
    </table>
</fieldset>