@model IEnumerable<BinaryStudio.TaskManager.Web.Models.TaskModel>

@{
    ViewBag.Title = "ManagersTask";
}

<h2>ManagersTask</h2>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Редактировать ", "EditEmployee", new { id=item.TaskId }) |
            @Html.ActionLink("Детали", "DetailsEmployee", new { id=item.TaskId }) |
            @Html.ActionLink("Удалить", "DeleteEmployee", new { id=item.TaskId })
        </td>
    </tr>
}

</table>
