﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="../../Content/Custom.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <!--Do not remove jquery-1.7.2.* libraries - D&D dependents from their!!!!-->
    <script src="../../Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <!--signalr-->

    <script src="@Url.Content("/Scripts/jquery.signalR.js")" type="text/javascript"></script>    
    <script src="@Url.Content("/signalr/hubs")"></script>
    <script src="../../Scripts/custome.signalR.js" type="text/javascript"></script>

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                                                                                                 class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a >
                <a class="brand" href="/Landing/Index">Task Manager</a>
                <div id="logindisplay">
                    @Html.Partial("_LogOnPartial")
                 </div>
                @{if(User.Identity.IsAuthenticated)
                  {
                      <div class="nav-collapse">
                          <ul class="nav">
                              <li >
                                  <a href="/Events/MyEvents" id = "spec">Events </a>
                              </li>
@*                              <li>
                                  @Html.ActionLink("Landing", "Index", "Landing")
                              </li>*@
                          </ul>
                      </div>
                  }
                }
            </div>
        </div>
    </div>
    <div>
        <section id="main" class="container-fluid">
                @RenderBody()
            </section>
        <footer>
            </footer>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        var content = $('#spec');
        
        //if(@User.Identity.IsAuthenticated == 'true') {
            
            $.ajax({
                dataType: "JSON",
                type: "POST",
                url: "/Events/GetNewsCount",
                beforeSend: function() {
                    //$("#loader").show();
                },
                success: function(response) {
                    //$("#loader").hide();
                    if(response>0) {
                        content.html('Events <span class="badge badge-important" data-id="newses_count">' + response + '</span>');
                    }
                    else {
                        content.html('Events <span class="badge badge-important" data-id="newses_count" style =" display: none">' + response + '</span>');
                    }
                }
            });
            startSignalRConnection(-1, "@User.Identity.Name", false);
    });
</script> 