@model BinaryStudio.TaskManager.Logic.Domain.User
@{
    ViewBag.Title = "User details";
}
<h2 class="page-header">
    User info
</h2>
<fieldset>
    <legend></legend>
    <div class="display-label">
        Username
    </div>
    <div class="display-field">
        @Model.UserName
    </div>
    <div class="display-label">
        Email
    </div>
    <div class="display-field">
        @Model.Email
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditUser", new { userId = Model.Id }, new { @class = "btn" })
</p>
<p>
    @Html.ActionLink("Back to list of all users", "UsersList", null, new { @class = "btn" })
    <span class="divider-vertical"></span>
    @Html.ActionLink(" Back to AdminPanel", "AdminPanel", "Admin", null, new { @class = "btn" })
</p>
