@model BinaryStudio.TaskManager.Logic.Domain.Employee
@{
    ViewBag.Title = "Данные о сотруднике";
}
<fieldset>
    <legend>Данные о сотруднике </legend>
    <div class="display-label">
        Имя сотрудника
    </div>
    <div class="display-field">
        @Model.Name
    </div>
    <div class="display-label">
        Количество заданий
    </div>
    <div class="display-field">
        @(Model.Tasks == null ? "Нет заданий" : Model.Tasks.Count.ToString())
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "EditEmployee", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться в список всех сотрудников", "EmployeesList")
</p>
<p>
    @Html.ActionLink("Вернуться в панель администратора", "Index")
</p>
