@model IEnumerable<BinaryStudio.TaskManager.Logic.Domain.Employee>
@{
    ViewBag.Title = "Список всех сотрудников";
}
<h2>
    Список всех сотрудников
</h2>
<table>
    <tr>
        <th>
            Имя
        </th>
        <th>
            Количество заданий
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @(item.Tasks == null ? "None" : item.Tasks.Count.ToString())
            </td>
            <td>
                @Html.ActionLink("Редактировать", "EditEmployee", new { id = item.Id }) |
                @Html.ActionLink("Подробности", "DetailsEmployee", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "DeleteEmployee", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Вернуться в панель администратора", "Index")
</p>