<h2>
    Панель администрирования
</h2>
<ul>
    <p>
        <li>@Html.ActionLink("Добавить нового пользователя", "RegisterNewUser")</li>
    </p>
    <p>
        <li>@Html.ActionLink("Добавить нового сотрудника", "RegisterNewEmployee")</li>
    </p>
    <p>
        <li>@Html.ActionLink("Соеденить пользователя и сотрудника", "ConnectUserWithEmployee")</li>
    </p>
    <p>
        <li>@Html.ActionLink("Список всех пользователей", "UsersList")</li>
    </p>
    <p>
        <li>@Html.ActionLink("Список всех сотрудников", "EmployeesList")</li>
    </p>
</ul>
